*{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(235, 33, 67);
}

body{
  padding: 60px;
}

input{
  color: gray;
  width: 100%;
  font-size: 1.2rem;
}

.card {
  align-content: center;
  border: 1px grey solid;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 10px;
  margin-right: 10px;
}

.card p {
  padding: 5px;
  text-align: center;
}

.card img {
  max-height: 180px;
}

.card-grid{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}